<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Page</title>
  
</head>
<body>
    {{> header}}
    <h1>Welcome!! to {{pageTitle}}</h1>
    <p>We are friendly, and you Mr..{{mrsName}}?</p><br>
    <h3>This is a example of Static web with Node JS</h3>
    {{> footer}}
</body>
</html>